.social {
    // min-height: calc(100vh - 17rem);
    width: 100vw;
    max-width: 60rem;
    margin: 15rem auto;
    text-align: center;


    .socialIcons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 3rem;

        a {
            color: white;

            i {
                padding: 3rem;
                margin: 0 1rem;
                font-size: 50px;
                transition: 0.3s;
                cursor: pointer;
                border: 1px solid white;

                &:hover {
                    color: yellow;
                    transform: scale(1.1);
                }
            }
        }
    }
}