@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@400;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "League Spartan", sans-serif;
  font-family: "Outfit", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(30, 30, 30);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}

h1 {
  color: yellow;
  font-size: 3rem;
}

.navbar {
  background-color: rgb(30, 30, 30);
  height: 5rem;
  width: 100vw;
  margin: 0;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}
.navbar .logo {
  -o-object-fit: cover;
     object-fit: cover;
  height: 3rem;
  width: 4rem;
}
.navbar .links {
  display: flex;
}
.navbar .links .link {
  margin: 1rem;
  cursor: pointer;
}
.navbar .links .link:hover {
  color: yellow;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid yellow;
}
.navbar .menuBtn {
  background: #fff;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 2rem;
  cursor: pointer;
}
.navbar .menuBtn .menuImg {
  -o-object-fit: cover;
     object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin: 1rem;
}
.navbar .active {
  color: yellow;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid yellow;
}
.navbar .mobileLinks {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 15rem;
  background-color: rgb(50, 50, 50);
  border-radius: 1rem;
  text-align: center;
}
.navbar .mobileLinks .mobileLink {
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  background: rgb(30, 30, 30);
}
.navbar .mobileMenu {
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
  height: 1.8rem;
}

.landingPage {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.landingPage .content {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.landingPage .content .hello {
  font-size: 1.75rem;
  font-weight: 100;
}
.landingPage .content .name {
  color: yellow;
}
.landingPage .content p {
  font-size: small;
  font-weight: 300;
  color: #ccc;
  letter-spacing: 1px;
}
.landingPage .content .btn {
  background-color: white;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
}
.landingPage .content .btn img {
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 0.25rem;
  height: 1rem;
}
.landingPage .bgImg {
  position: absolute;
  z-index: -1;
  top: -4rem;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
}

@media screen and (max-width: 840px) {
  .bg {
    right: 10vw;
  }
  .content {
    font-size: 10vw;
  }
  .hello {
    font-size: 4.5vw;
  }
}
@media screen and (max-width: 480px) {
  .bg {
    right: 10vw;
  }
}
@media screen and (max-width: 720px) {
  .navbar .mobileMenu {
    display: flex;
  }
  .navbar .links {
    display: none;
  }
  .navbar .menuBtn {
    display: none;
  }
}
.skills {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.skills .skillTitle {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1rem;
}
.skills .secP {
  font-weight: 300;
  font-size: 1rem;
  color: #ccc;
  max-width: 51rem;
  padding: 0 2rem;
  line-height: 1.2;
}
.skills .skillRows {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}
.skills .skillRows .skillRow {
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background-color: rgb(50, 50, 50);
}
.skills .skillRows .skillRow img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
}
.skills .skillRows .skillRow .text p {
  font-size: 0.9rem;
  font-weight: 200;
  color: #ccc;
}

@media screen and (max-width: 720px) {
  .text p {
    font-size: 2vw;
  }
}
@media screen and (max-width: 480px) {
  .text p {
    font-size: 3vw;
  }
  .text h2 {
    font-size: 5vw;
  }
  .skillRow img {
    height: 2.25rem;
    width: 2.25rem;
  }
}
.projects {
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  max-width: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;
}
.projects .title {
  font-size: 3rem;
  margin: 3rem 0 0;
}
.projects .desc {
  font-weight: 300;
  font-size: 1rem;
  color: #ccc;
  max-width: 45rem;
}
.projects .projectsGallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 65rem;
}
.projects .projectsGallery img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 20rem;
  margin: 0.5rem;
}
.projects .btn {
  margin: 3rem 0;
  padding: 0.5rem 2.5rem;
  background-color: white;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 565px) {
  .projectsGallery img {
    height: 48vw;
  }
}
.social {
  width: 100vw;
  max-width: 60rem;
  margin: 15rem auto;
  text-align: center;
}
.social .socialIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.social .socialIcons a {
  color: white;
}
.social .socialIcons a i {
  padding: 3rem;
  margin: 0 1rem;
  font-size: 50px;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid white;
}
.social .socialIcons a i:hover {
  color: yellow;
  transform: scale(1.1);
}

.contact {
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  margin: 3rem auto 0;
  text-align: center;
}
.contact .desc {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
}
.contact form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}
.contact form input,
.contact form textarea {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(50, 50, 50);
}
.contact form .submitBtn {
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 3.5rem;
  margin: 2rem;
  cursor: pointer;
}

.footer {
  background-color: rgb(50, 50, 50);
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer p {
  font-weight: 300;
  font-size: 17px;
}
.footer p span {
  color: yellow;
  font-weight: 500;
}
.footer .socialIcons a {
  color: white;
  margin: 0 1rem;
}
.footer .socialIcons a i {
  font-size: 17px;
  transition: 0.3s;
}
.footer .socialIcons a i:hover {
  color: yellow;
  transform: scale(1.1);
}/*# sourceMappingURL=App.css.map */